*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FutureLight,Verdana, Geneva, Tahoma, sans-serif;
}
i{
    font-size: 20px;
}
.img{
   width:100%;
  height: 250px;
  margin-top: 20px;
    
}
.img .img-width{
   width: 100%;
   height: 100%;
   
   border-radius: 15px;
   
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  }
.music{
    width: 500px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px 6px 15px ;
}
.top-bar{
    display: flex;
    flex-direction: row; 
    width: 100%;
   justify-content: space-between;
}
.top-bar i {
    cursor: pointer;
}
.control{
    padding-top: 20px;
    width: 460px;
     display: flex;
    justify-content: space-between;    
}
.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.song .name,.song .artist{
    padding: 10px 0 10px 0;
}
.song .name{
    font-size: 20px;
}
.progress{
    height: 6px;
    border: 1px black solid ;
    cursor: pointer;
}
.progress .start,.progress .end{
    cursor: initial;
}
.progress-bar{
    
    height: 100%;
    background-color:rgb(71, 138, 4);
 
   
    
}

.end{
    position: absolute;
    right: 20px;
}
.control > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.play-pause{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:pink;
}
.music-list{
    position: absolute;
    bottom: -55%;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0px 20px 0px 20px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
    background-color: white;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
}
.close{
    cursor: pointer;
}
.music-list > div{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: space-between;
  
}

.music-list ul{
    max-height: 300px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
    
}
li{
    list-style: none;
    cursor: pointer;
    padding:10px 0 20px 0;
    border-bottom: 1px solid #e5e5e5;
}